name: Unit Tests

on: 
  workflow_dispatch:
  pull_request_review:
    types: [submitted]
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-shell-script:
    runs-on: self-hosted

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run unit test
      run: |
        docker pull $UT_IMAGE
        docker run -v $PWD:$PWD -w $PWD --net host --ipc host --shm-size 80G -t --rm --gpus all $UT_IMAGE bash -c 'make test'
      env: 
        UT_IMAGE: ${{ secrets.UT_IMAGE }}
